.two-column-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.green {
    background-color: #0f0;
}

.red {
    background-color: #f00;
}

div.center {
    margin: 0 auto;
}
